extends layout

block content
  .header
    .header-content
      image(src='/images/valence-logo.png')
      h2.montserrat.byline BUSINESS ON THE BLOCKCHAIN
      h3.crimson YOUR VALENCE AIRDROP ESTIMATE

      p You are viewing the estimate for the staking address #[span.bold #{address}].
      p From the start of the VALE mining period (block #[span.bold #{blockStart}]) until the last synced block in this calculator (block #[span.bold #{latestBlock}]) this address has mined #[span.bold #{numBlocks}] blocks.
      p Based on the current participation, this address will receive approximately #[span.bold #{estimate}] VALE at the public distribution event as long as all the eligibility criteria are met.

      p If you want to check another address, enter it below.
      form(name="add-estimation", method="get", action="/estimate")
        .input.montserrat
          input(type="text", name="address" placeholder="NAV Address")
        .actions.montserrat
          input(type="submit", value="Get Estimate")

  .body
    .body-content
      p Please note that this caluclator is an estimate only. As more or less NAV participate in mining over the course of the airdrop mining period, your estimated airdrop will fluctuate proportionally.
      p For further information about the Valence Platform and the full details, terms and conditions of the airdrop please visit the #[a(href='https://valenceplatform.org' target='e') Valence Platform] website.
